.GetData{
  height: 100%;
  width: 100%;
}
input{
  margin-top: 3%;
  margin-left: 10%;
  width: 25%;
}
.search{
  width:10% ;
  margin-left: 1%;
}
.GetData .show{
  height: fit-content;

  display: flex;
  margin-left: 5%;
  width: 100%;
 }


.GetData .show .ShowData{
  margin-top:5px;
  outline: 1px  solid black;
    width: 30%;
}
.updateRecord{
    margin-left: 20%;
    width: 30%;
    margin-top: 2px;
}